html {
	font-family: 'Roboto', sans-serif;
}

body {
	font-size: 13px;
	line-height: 20px;
	margin: 0;
	background: url('images/background.jpg') no-repeat center center fixed;
	background-size: cover;
	overflow-x: hidden;
}

span.p4r-legend {
	display: inline-block;
	line-height: 40px;
	margin-right: 20px;
}

span.p4r-legend > span {
	display: inline-block;
	width: 30px;
	height: 12px;
	margin-right: 5px;
}

.limited-images img {
	max-width: 600px;
	max-height: 400px;
	margin: 0 auto;
}

/*
 * xs devices
 */
@media (max-width: 599px) {
	.leaflet-popup-content {
		margin: 5px 0 !important;
	}
	
	svg[aria-hidden=true] {
		height: 0.9em;
	}
	
	span.p4r-legend {
		line-height: 25px;
	}
}

/* roboto-300 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url('./fonts/roboto-v18-latin-300.eot'); /* IE9 Compat Modes */
	src: local('Roboto Light'), local('Roboto-Light'),
	url('./fonts/roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('./fonts/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('./fonts/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
	url('./fonts/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('./fonts/roboto-v18-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Roboto'), local('Roboto-Regular'),
	url('./fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('./fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('./fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('./fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('./fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('./fonts/roboto-v18-latin-500.eot'); /* IE9 Compat Modes */
	src: local('Roboto Medium'), local('Roboto-Medium'),
	url('./fonts/roboto-v18-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('./fonts/roboto-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
	url('./fonts/roboto-v18-latin-500.woff') format('woff'), /* Modern Browsers */
	url('./fonts/roboto-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
	url('./fonts/roboto-v18-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
